<div class="router-template">
  <div class="clearfix">
    <h2 class="info-title info-title-blue">每日报表</h2>
  </div>

  <div class="content">
    <div class="content-head">
      <span>8月23日焊装生产线——临海基地0000</span>
    </div>

    <div class="content-body">

      <table border="1">
        <thead>

        </thead>
        <tbody>
        <tr>
          <td rowspan="3">主焊OEE</td>
          <td>8月目标</td>
          <td colspan="2">83.2%</td>
        </tr>
        <tr>
          <td></td>
          <td>实际OEE</td>
          <td colspan="2">86.8%</td>
        </tr>
        <tr>
          <td></td>
          <td>差异</td>
          <td colspan="2">3.6%</td>
        </tr>
        <tr>
          <td rowspan="4">工作时间</td>
          <td></td>
          <td>时间开动率</td>
          <td>性能开动率</td>
        </tr>
        <tr>
          <td></td>
          <td>目标</td>
          <td>93%</td>
          <td>89.5%</td>
        </tr>
        <tr>
          <td></td>
          <td>实际</td>
          <td>93%</td>
          <td>89.5%</td>
        </tr>
        <tr>
          <td></td>
          <td>实际</td>
          <td>93%</td>
          <td>89.5%</td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tfoot>
      </table>


    </div>
  </div>


    <h1>000000</h1>


</div>
